<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Leave a Comment
		</h3>
	</div>
	<form method="post" action="/comments" enctype="application/x-www-form-urlencoded">
		<div class="panel-body form-horizontal">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-label" for="comment">
					Comment:
				</label>
				<div class="col-md-10">
					<textarea class="form-control" name="comment" rows="2"></textarea>
				</div>
				<!-- add a name field to comment -->
				<label class="col-md-2 control-label" for="name">
					Name:
				</label>
				<div class="col-md-10">
					<textarea class="form-control" name="name" rows="2"></textarea>
				</div>
				<div class="form-group col-md-12">
					<div class="col-md-12 text-right">
						<button type="submit" id="login-btn" class-"btn btn-success" type="button"><i class="fa fa-cloud-upload "></i>Add a comment</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	